body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
 
}

body:has(.header .card-block .quotes. .infoblock .footer .main block) {
	
}

.header,
.card-block,
.quotes,
.infoblock,
.footer,
.main-block {
  padding-left: 140px;
  padding-right: 140px;
}


.header {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: royalblue;
  }
  
  .logo {
	font-size: 60px;
  }
  
  .links {
  font-size: 22px;
  list-style: none;
  width: 300px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.main-block {
  background-color: lightskyblue;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.main-title {
  height: 80px;
  max-width: 500px;
}

.main-text {
  height: 100px;
  max-width: 500px;
  padding: 20px;
}

.main-image {
  height: 400px;
}

/* Button on main block no longer exists
.main-button {
  height: 120px;
  width: 120px;
}
*/



.card-block {
  background-color: darkblue;
  color: white;
  height: 1700px;
  padding: 40px 140px 40px 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#cards-title {
  display: flex;
  justify-content: center;
  padding: 20px 0px 0px 0px;
  font-size: 40px;
  font-weight: bold;
}

.card {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card p {
  color: black;
  background-color: lightgray;
  border-radius: 20px;
  padding: 15px;
  min-width: 250px;
}

.card-f1 {
  background-image: url("./images/f1.jpg");
  background-repeat: no-repeat;
  background-size: 980px 500px;
}


.wec,
.stock {
  flex-direction: row-reverse;
}

.card-img {
  height: 300px;
  border-radius: 80px;
}

.quotes {
  background-color: gray;
  display: flex;
  align-items: center;
  height: 400px;
}

.thequote {
  height: 150px;
  padding: 50px;
  font-size: 28px;
  background-color: white;
  border-radius: 10px;
}

.infoblock {
  height: 320px;
  display: flex;
}

.footer {
  background-color: lightgray;
  height: 88px;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}
