body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
 
}

.header,
.card-block,
.quotes,
.infoblock,
.footer,
.main-block {
  padding-left: 140px;
  padding-right: 140px;
}


.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: white;
  }
  
.logo {
	font-size: 50px;
	font-weight: bold;
  }
  
 a {
  text-decoration: none;
  color: white;
  font-weight: bold;
 }
  
 .links {
  font-size: 22px;
  list-style: none;
  width: 300px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.main-block {
  color: white;
  background-color: #1F2937;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.main-title {
  font-weight: bold;
  font-size: 22px;
  height: 80px;
  max-width: 500px;
}

.main-text {
	max-width: 500px;
}

.main-text-block {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* Selectors below are here only in case i want to use them later

This image and the ones below might have some overflowing problems in small screens.*/
.main-image {
  max-height: 400px;
  width: 40%;
}

/*Button on main block no longer exists
.main-button {
  height: 120px;
  width: 120px;
}
*/



.card-block {
  background-color: white;
  color: gray;
  height: 420px;
  padding: 40px 140px 40px 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

#cards-title {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  color: black;
}

.cards,
.cards-text {
	color: black;
	display: flex;
	padding: 10px;
	width: 100%;
	justify-content: space-evenly;
}


.card {
  height: 200px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  width: 100%;
  height: 190px;
  border-radius: 60px;
}

.card :hover {
	width: 105%;
	height: 220px;
}

.text-f1,
.text-wec,
.text-wrc,
.text-fe {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.quotes {
  background-color: gray;
  display: flex;
  align-items: center;
  height: 400px;
}

.thequote {
  background-color: #A9A9A9;
 border-radius: 30px 10px 30px 10px;
  padding: 10px;
  height: 150px;
  margin: 0px 250px 0px 250px;
  font-size: 24px;
}

.name {
  font-weight: bold;
  text-align: end;
}

.infoblock {
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infocard {
  background-color: #3882F6;
  border-radius: 10px 40px 10px 40px;
  height: 160px;
  width: 60%;
  padding: 10px 70px 10px 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nameandbutton {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.damonquote {
	font-size: 18px;
}

.damon {
  font-weight: bold;
  font-size: 18px;
}

.infobutton {
  font-weight: bold;
  height: 40px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  background-color: #3882F6;
  color: white;
}

.infobutton:hover{
  font-weight: bold;
  background-color: white;
  color: black;
  cursor: pointer;
}

.footer {
  background-color: #1F2937;
  color: white;
  font-weight: bold;
  height: 88px;
  display: flex;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}
